{% extends 'base.html' %}

{% block localdeclarations %}
<script type="text/javascript">

MAX_ALGORITHMS_IN_WORKSPACE = 5;

$(document).ready(function(){
	sessionStorage.available_index = 0;
	sessionStorage.fitness_function = "no_fitness_selected";
	$("#fitness-selection").material_select();
});

function set_fitness_function(select_fitness){
	sessionStorage.fitness_function = select_fitness.value;
}

function run_algorithm(algorithm, alg_index, alg_params, results_container){
	$.ajax({
		type: 'GET',
		url: 'run_algorithm?'+ "alg_type="+algorithm+"&alg_index="+alg_index+ "&fitness=" + sessionStorage.fitness_function.toLowerCase() +"&"+alg_params, 
		success: function(data) {
			$(results_container).empty().append(data);
		},
		timeout: 30000,
	});
}

function run_algorithms(caller){
	if (sessionStorage.fitness_function == "no_fitness_selected"){
		Materialize.toast('Select a Fitness Function before proceeding!', 4000);
	}
	else{
		if (!$(caller).hasClass("disabled")){	

			$("#add_alg_btn").addClass("disabled");
			$("#run_btn").addClass("disabled");
			$(".alg-wrapper").each(function(){
				var algorithm = $(this).find('select').val();
				if(algorithm){
					var $form = $(this).find("form");
					var alg_index = $form.serialize().match(/alg[0-9]*_/)[0][3];
					var set_params = $form.serialize().replace(/alg[0-9]*_/g,'');
					console.log(set_params);
					
					var $results_container = $form.parent().parent();
					$results_container.empty();
					$.get("/get_preloader", function(data){
						$results_container.append(data);
						run_algorithm(algorithm, alg_index, set_params, $results_container);
					})
				}
				else{
					$(this).hide('slow', function(){
						$(this).remove();
					});
				}
			});

		}
		else {
				Materialize.toast('Clean your workspace before proceeding!', 4000);
		}
	}
}

function clean_workspace(){
	sessionStorage.available_index = 0;
	$("#analysis-workspace").hide('slow', function(){
		$("#analysis-workspace").empty()
		$("#analysis-workspace").show()
	})
	$("#run_btn").removeClass("disabled");
	$("#add_alg_btn").removeClass("disabled");
}

function first_available_index(){
	if (sessionStorage.available_index < MAX_ALGORITHMS_IN_WORKSPACE) {
		return sessionStorage.available_index++;
	}
	else return -1;
}

function new_algorithm(caller)
{
	if (!$(caller).hasClass("disabled")){
		index = first_available_index();
		if (index != -1){		
			$.ajax({

				type: "GET",
				url: 'new_algorithm',
				data: {'index': index},
				success: function(data) {
					$('#analysis-workspace').append(data);
					var newDiv = $('#analysis-workspace .alg-wrapper:last')
					$(newDiv).css({'display':'none'});

					$(newDiv).show('slow', function(){
						$("body, html").animate({
							scrollTop: $(window).height()
						}, 'slow');
					})			
				}
			});
		}
		else {
			Materialize.toast('Too many algorithms in workspace!', 4000);
		}
	}
	else {
			Materialize.toast('Clean your workspace before proceeding!', 4000);
	}

}

</script>

</style>
{% endblock %}

{% block content %}


	<div class="section">
		<div class="container">
			<h2 class="header center orange-text hide-on-med-and-down">Evolutive Systems<br>Algorithms Evaluation</h2>
			<h2 class="header center orange-text hide-on-large-only">Evolutive <br class="hide-on-med-only">Algorithms </h2>
			<div class="hide-on-med-and-down">
				<br>
				<p class="flow-text center-align">Based on the Evolutive Systems Applied to Robotics class (University of Sao Paulo - 2015 Fall), we're writing different types of Evolutive Algorithms and providing a tool to easily visualize their running analytics. After selecting the desired Fitness function to be evaluated in the box below, click the Plus button at the bottom of the page to add a new Algorithm to your Algorithm Analysis workspace.</p>
			</div>
			<br>
		</div>
	</div>

	<div id="fitness-def" class="section orange lighten-1">
		<div class="container">
			<div class="row">
				<div class="col s12 l6">
					<h5 class="header white-text">Select the function to be evaluated:</h5>
					{% if fitness_list %}
					<label class="black-text">Fitness function</label>
					<select id="fitness-selection" onchange="set_fitness_function(this)" class="browser-default">
						<option value="" disabled selected>Choose your option</option>
						{% for function in fitness_list %}
						<option value="{{ function.name }}">{{ function.name }}</option>
						{% endfor %}
					</select>
					{% else %}
					<p>No fitness functions available.</p>
					{% endif %}
				</div>
				<div class="col s6 m12 l6">
					<div class="row">
						<div class="col s12 m6">
							<a id="run_btn" style="top:3em" class="btn waves-effect waves-light teal white-text right tooltipped" data-position="top" data-delay="50" data-tooltip="Click to run all the built-in algorithms you added into the workspace below!" onclick="run_algorithms(this)"><i class="material-icons right">play_arrow</i>Run them all!</a>
						</div class="row hide-on-med-and-up">
							<div>
							<div class="col s12 m6">
								<a style="top:3em" class="btn waves-effect waves-light teal white-text tooltipped" data-position="top" data-delay="50" data-tooltip="Click to clean your workspace!" onclick="clean_workspace()"><i class="material-icons right">delete</i>Clean workspace!</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="analysis-workspace">
	</div>

	<div class="divider"></div>

	<div style="padding-top:0em" class="section center">
		<br><br>
		<a id="add_alg_btn" onclick="new_algorithm(this)" class="btn-floating btn-large waves-effect waves-light light-blue tooltipped" data-position="top" data-delay="50" data-tooltip="Add an algorithm to your workspace!"><i class="material-icons">add</i></a>
	</div>

{% endblock %}