{% extends 'base.html' %}
{% load staticfiles %}

{% block localdeclarations %}
{% endblock %}

{% block content %}
<div class="section scrollspy" id="team">
    <div class="container">
        <h2 class="header text_b center orange-text"> Team </h2>
        <div class="row">

            <!-- Raphael: --> 
            <div class="col s12 m4">
                <div class="card card-avatar center">
                    <div class="waves-effect waves-block waves-light">
                        <img class="activator" width="100%" src="{% static 'img/raph.jpg' %}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4"><small>RAPHAEL VICTOR</small><br/>
                            <small><em><a class="orange-text text-darken-4" href="#">Server & UI Design</a></em></small></span>
                        <p>
                            <a class="blue-text text-lighten-2" href="https://www.facebook.com/raphael.rv">
                                <i class="fa fa-facebook-square">Facebook</i>
                            </a>
                            <a class="blue-text text-lighten-2" href="    https://www.linkedin.com/in/raphael-ferreira-b339a093">
                                <i class="fa fa-linkedin-square">LinkedIn</i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <!-- Robs: -->
            <div class="col s12 m4">
                <div class="card card-avatar center">
                    <div class="waves-effect waves-block waves-light">
                        <img class="activator" width="100%" src="{% static 'img/robs.jpg' %}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4"><small>ROBERTO FREITAS</small><br/>
                            <small><em><a class="orange-text text-darken-4" href="#">Wiki blablabla</a></em></small></span>
                        <p>
                            <a class="blue-text text-lighten-2" href="https://www.facebook.com/robs.fks">
                                <i class="fa fa-facebook-square">Facebook</i>
                            </a>
                            <a class="blue-text text-lighten-2" href="    https://www.linkedin.com/in/roberto-martins-freitas-558340102">
                                <i class="fa fa-linkedin-square">LinkedIn</i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>

            <!-- Valeska: -->
            <div class="col s12 m4">
                <div class="card card-avatar center">
                    <div class="waves-effect waves-block waves-light">
                        <img class="activator" width="100%" src="{% static 'img/valeska.jpg' %}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4"><small>VALESKA PARONI</small><br/>
                            <small><em><a class="orange-text text-darken-4" href="#">Python algorithms</a></em></small></span>
                        <p>
                            <a class="blue-text text-lighten-2" href="https://www.facebook.com/valeskaparoni">
                                <i class="fa fa-facebook-square">Facebook</i>
                            </a>
                            <a class="blue-text text-lighten-2" href="    https://br.linkedin.com/in/valeska-paroni-297866104">
                                <i class="fa fa-linkedin-square">LinkedIn</i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>

            <!-- Rafael: -->
            <div class="col s12 m4">
                <div class="card card-avatar center">
                    <div class="waves-effect waves-block waves-light">
                        <img class="activator" width="100%" src="{% static 'img/rafael.jpg' %}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4"><small>RAFAEL MARQUES</small><br/>
                            <small><em><a class="orange-text text-darken-4" href="#">Data Presentation</a></em></small></span>
                        <p>
                            <a class="blue-text text-lighten-2" href="https://www.facebook.com/rafael.marques.77128">
                                <i class="fa fa-facebook-square">Facebook</i>
                            </a>
                            <a class="blue-text text-lighten-2" href="    https://www.linkedin.com/in/rafael-rodrigues-68569210b">
                                <i class="fa fa-linkedin-square">LinkedIn</i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <!-- Daniel: --> 
            <div class="col s12 m4">
                <div class="card card-avatar center">
                    <div class="waves-effect waves-block waves-light">
                        <img class="activator" width="100%" src="{% static 'img/daniel.jpg' %}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4"><small>DANIEL BONETTI</small><br/>
                            <small><em><a class="orange-text text-darken-4" href="#">Professor</a></em></small></span>
                        <p>
                            <a class="blue-text text-lighten-2" href="https://www.facebook.com/danielrodrigo.ferrazbonetti">
                                <i class="fa fa-facebook-square">Facebook</i>
                            </a>
                            <a class="blue-text text-lighten-2" href="    https://br.linkedin.com/in/daniel-bonetti-96058a61/pt">
                                <i class="fa fa-linkedin-square">LinkedIn</i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>

             <!-- Ana: -->
            <div class="col s12 m4">
                <div class="card card-avatar center">
                    <div class="waves-effect waves-block waves-light">
                        <img class="activator" width="100%" src="{% static 'img/ana.jpg' %}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4"><small>ANA FIGUEIROA</small><br/>
                            <small><em><a class="orange-text text-darken-4" href="#">C algorithms</a></em></small></span>
                        <p>
                            <a class="blue-text text-lighten-2" href="https://www.facebook.com/analuiza.figueiroa">
                                <i class="fa fa-facebook-square ">Facebook</i>
                            </a>
                            <a class="blue-text text-lighten-2" href="    https://br.linkedin.com/">
                                <i class="fa fa-linkedin-square">LinkedIn</i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}